<!-- templates/core/user_dashboard.html -->
{% extends 'core/base.html' %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
<h2>Welcome, {{ username }}!</h2>
<p>You are logged in as <strong>User</strong></p>

{% if projects %}
<div class="grid">
  {% for project in projects %}
   <a class="nav-btn" href="{% url 'work_products' project.id %}">
    {{ project.name }}
  </a>
  {% endfor %}
</div>
{% else %}
<p>No assigned projects available.</p>
{% endif %}

<a href="{% url 'logout' %}" class="btn">Logout</a>
{% endblock %}